---

---
<section class="bg-white">
    <div class="container p-4 mx-auto text-black">
        <h2 class="text-2xl text-black font-bold mt-5">Auxiliary / Supporting Content</h2>
        <div class="grid grid-cols-4 gap-4 mt-3">
            <div class="col-span-4 lg:col-span-3">
                <p>
                    An effective content marketing strategy entails creating unique and
                    tailored pillar content that resonates with your business, as well as
                    developing multiple supporting auxiliary / supporting content pieces that enhance their value.
                </p>
                <p class="mt-3">
                    Auxiliary / Supporting content plays a crucial role in amplifying authority and
                    dominance for search engines. By leveraging repurposed and derived content,
                    you can effectively generate substantial volume and strengthen your online presence.
                </p>
                <p class="mt-3">
                    <span class="font-semibold">Gen Prose</span> simplifies the process of generating
                    SEO-optimized auxiliary / supporting content from various sources such as YouTube videos,
                    podcasts, or any audio/video material, while ensuring the essence is preserved
                    through repurposing techniques. With Genprose, creating auxiliary / supporting content
                    becomes remarkably effortless and efficient.
                </p>
            </div>
            <div class="col-span-4 lg:col-span-1 flex items-center justify-center">
                <img src="/assets/images/SEOStrategy.svg" alt="pillar content" width="500" />
            </div>
        </div>
        <div class="mt-3">
            Be the first to experience <span class="font-semibold">Gen Prose!</span>
        </div>
        <div class="py-8 text-center">
            <a class="cta-btn text-white rounded-full py-5 px-10 cursor-pointer font-semibold" href="#joinwaitlist">
                Join the waitlist
            </a>
        </div>
    </div>
</section>