---

---
<section class="bg-white -mt-1 md:-mt-0">
    <div class="container p-4 mx-auto text-black">
        <h2 class="text-2xl text-black font-bold mt-5">Auxiliary / Supporting Content</h2>
        <div class="grid grid-cols-4 gap-4 mt-3">
            <div class="col-span-4 lg:col-span-2">
                <p>
                    Crafting a successful content marketing strategy involves creating unique pillar content 
                    tailored to your business and complementing it with supporting auxiliary pieces that add value. 
                    Incorporating audio to text conversion provides an exceptional opportunity to generate 
                    high-quality content that enhances your online presence and captivates a wider audience.
                </p>
                <p class="mt-3">
                    These Auxiliary content elements play a vital role in amplifying your authority and 
                    dominating search engine rankings. By leveraging repurposed and derived audio to text content,
                    you can effectively generate substantial volume and strengthen your online presence.
                </p>
                <p class="mt-3">
                    <span class="font-semibold">Gen Prose</span> simplifies the process of converting audio to 
                    text from various sources such as YouTube videos, podcasts, or any audio/video material. 
                    Transcribe your audio files into various formats such as blog posts, articles, and 
                    social media snippets, providing versatility and extending the lifespan of your valuable 
                    audio materials.
                </p>
            </div>
            <div class="col-span-4 lg:col-span-2 flex items-center justify-center">
                <img src="/assets/images/SEOStrategy.svg" alt="content pillar" width="500" />
            </div>
        </div>
        <div class="mt-3 text-center">
            Be the first to experience <span class="font-semibold">Gen Prose!</span>
        </div>
        <div class="py-8 text-center">
            <a class="cta-btn text-white rounded-full py-5 px-10 cursor-pointer font-semibold" href="#joinwaitlist">
                Get Early Access
            </a>
        </div>
    </div>
</section>