.font-8 {
  font-size: var(--font-8);
}
.font-10 {
  font-size: var(--font-10);
}
.font-12 {
  font-size: var(--font-12);
}
.font-14 {
  font-size: var(--font-14);
}
.font-16 {
  font-size: var(--font-16);
}
.font-18 {
  font-size: var(--font-18);
}
.font-20 {
  font-size: var(--font-20);
}
.font-24 {
  font-size: var(--font-24);
}
.font-30 {
  font-size: var(--font-30);
}
.font-32 {
  font-size: var(--font-32);
}
.font-36 {
  font-size: var(--font-36);
}
.bold {
  /* font-weight: var(--bold); */
  font-family: 'Plus Jakarta Sans Bold';
}
.semi-bold {
  /* font-weight: var(--semi-bold); */
  font-family: 'Plus Jakarta Sans SemiBold';
}
.regular {
  /* font-weight: var(--regular); */
  font-family: 'Plus Jakarta Sans';
}
.thin {
  font-weight: var(--thin);
  font-family: 'Plus Jakarta Sans Light';
}
.light {
  /* font-weight: var(--light); */
  font-family: 'Plus Jakarta Sans Light';
}
.medium {
  /* font-weight: var(--medium); */
  font-family: 'Plus Jakarta Sans Medium';
}