<section id="footer" class="container mx-auto px-4 pb-4 border-t border-t-gray-800">
    <div class="my-10 flex items-center justify-between">
        <span class="w-full">Made with ❤️ <div>From India</div></span><span class="w-full md:text-end">© Genprose, 2023.
            All rights reserved.</span>
    </div>
</section>